@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@layer {

  th,
  td {
    @apply border-gray-500;
  }
}

@theme {
  --bg-dark: hsl(0 0% 90%);
  --bg: hsl(300 0% 95%);
  --bg-light: hsl(300 50% 100%);
  --text: hsl(300 0% 4%);
  --text-muted: hsl(0 0% 28%);
  --highlight: hsl(300 50% 100%);
  --border: hsl(NaN 0% 50%);
  --border-muted: hsl(340 0% 62%);
  --primary: hsl(357 44% 32%);
  --secondary: hsl(183 100% 9%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  --shadow: 0px 4px 4px #00000015, 0px 12px 12px #00000015;
  --bg-gradient: linear-gradient(0deg, var(--bg) 100%, var(--bg-light));
}

@layer components {
  .combined {
    box-shadow: 0px 4px 4px #00000015;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }

  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
  }

  .active>li {
    background: rgb(230, 223, 223) !important;
  }

  /* input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
  /* .qty {
    -moz-appearance: textfield;
  } */
  .App {
    font-family: sans-serif;
    text-align: center;
  }

  .otpInput {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
  }

  * {
    font-family: "Poppins", "Siemreap", sans-serif;
  }

  .menu-bar::-webkit-scrollbar {
    display: none !important;
  }

}